/Others
/2nd Semester/G Drive/Digital Logic Design/DLD Lectures
/2nd Semester/G Drive/Object Oriented Programming/JAVA by MAM
/2nd Semester/G Drive/Object Oriented Programming/JAVA lectures
*.mp4
/2nd Semester/G Drive/Probability & Statistics/Tutorials